html, body {
	height: 100%;
}

h1 {
	font-size: 1.3em;
	line-height: 1.5em;
}

h5 {
	line-height: 2em;
}

h6 {
	line-height: 1.8em;
}

div.container {
	max-width: 1200px;
}

div.dataTables_wrapper {
	width: 100%;
	margin: 0 auto;
}

.wrapper {
	padding: 10px;
}

.panel-body {
	padding: 5px 15px;
}

.agileinfo-grap {
	padding: 0.5em;
}

svg {
	height: 150px !important;
}

html input[disabled] {
	cursor: not-allowed;
}

.col-no-padding {
	padding: 0px !important;
}

.row-no-margin {
	margin: 0px !important;
}

.pR0 {
	padding-right: 0px;
}

.lh15 {
	line-height: 12px !important;
	margin-top: 5px;
}

.breadcrumb {
	background: transparent;
	margin: 0;
	padding: 0;
}

.breadcrumb h1 {
	color: #003260;
	line-height: 1.5em;
}

.breadcrumb ul li {
	display: inline-block;
	float: left;
	padding: 4px 1.5em;
}

.breadcrumb ul {
	float: right;
	line-height: 1.5em;
}

.breadcrumb span {
	color: #6b7b8f;
	font-size: 13px;
	line-height: 20px;
}

.loginBg {
	background: rgba(33, 18, 147, 1);
	background: -moz-linear-gradient(45deg, rgba(33, 18, 147, 1) 0%,
		rgba(8, 24, 97, 1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(33, 18, 147
		, 1)), color-stop(100%, rgba(8, 24, 97, 1)));
	background: -webkit-linear-gradient(45deg, rgba(33, 18, 147, 1) 0%,
		rgba(8, 24, 97, 1) 100%);
	background: -o-linear-gradient(45deg, rgba(33, 18, 147, 1) 0%,
		rgba(8, 24, 97, 1) 100%);
	background: -ms-linear-gradient(45deg, rgba(33, 18, 147, 1) 0%,
		rgba(8, 24, 97, 1) 100%);
	background: linear-gradient(45deg, rgba(33, 18, 147, 1) 0%,
		rgba(8, 24, 97, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#211293',
		endColorstr='#081861', GradientType=1);
}

.loginContainer {
	margin: 12.3% 0;
	position: relative;
}

.loginContainer .w3layouts-main {
	margin: 0 auto;
	background: #fff;
	padding: 20px 20px;
	position: relative;
}

.loginContainer h2 {
	text-align: center;
	color: #fff;
	font-size: 1.2em;
	font-weight: normal;
	line-height: 2em;
}

.loginContainer h2 span {
	color: #7681c3;
	position: relative;
	/* left: 50%; */
	width: 100%;
	background-size: 40%;
}

.loginContainer h6 {
	text-align: right;
}

.loginContainer h2 span {
	color: #7681c3;
}

.loginContainer form .inputs {
	position: relative;
}

.loginContainer input[type=checkbox] {
	margin-right: 5px;
}

.loginContainer input[type=submit] {
	background: #2763d5;
	border-radius: 3px;
	margin: 0px;
	letter-spacing: 0px;
	padding: 5px 25px;
	float: right;
	font-size: 1.1em;
}

input.ggg {
	padding: 10px 40px;
}

.errorMsg {
	color: #ff0000;
	text-align: center;
	font-size: 12px;
	line-height: 30px;
	position: absolute;
	bottom: 0px;
	width: 90%;
	display: none;
}

.userIcon {
	background-image: url(../images/icon_sprite.png);
	background-repeat: no-repeat;
	background-position: -292px -76px;
	width: 18px !important;
	height: 18px;
	display: inline-block;
	position: absolute;
	top: 25%;
	left: 3%;
}

.pwdIcon {
	background-image: url(../images/icon_sprite.png);
	background-repeat: no-repeat;
	background-position: -334px -75px;
	width: 16px !important;
	height: 20px;
	display: inline-block;
	position: absolute;
	top: 25%;
	left: 3%;
}

.logoIcon {
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	width: 154px;
	height: 30px;
	display: inline-block;
}

header.agileits-box-header.clearfix h3 {
	font-size: 16px;
	margin-bottom: 0.5em;
}

.w3ls-graph {
	height: 300px;
}

.agileinfo-grap {
	height: 300px;
}

.desktopIcon {
	background-image: url(../images/icon_sprite.png);
	background-repeat: no-repeat;
	background-position: -117px -27px;
	width: 37px;
	height: 34px;
	display: block;
	margin: 0px auto;
}

.desktopIcon:hover, .desktopIcon:active, .desktopIcon:focus,
	.desktopIcon.active, .active .desktopIcon {
	background-position: -26px -27px;
}

.welcomeIcon {
	background: url('../images/icon_sprite.png');
	background-repeat: no-repeat;
	background-position: -107px -109px;
	width: 56px;
	height: 32px;
	display: block;
	margin: 0px auto;
}

.welcomeIcon:hover, .welcomeIcon:active, .welcomeIcon:focus,
	.welcomeIcon.active, .active .welcomeIcon {
	background-position: -16px -109px;
}

.surveyIcon {
	background-image: url('../images/icon_sprite.png');
	background-repeat: no-repeat;
	background-position: -116px -183px;
	width: 41px;
	height: 48px;
	display: block;
	margin: 0px auto;
}

.surveyIcon:hover, .surveyIcon:active, .surveyIcon:focus, .surveyIcon.active,
	.active .surveyIcon {
	background-position: -25px -183px;
}

.reportsIcon {
	background-image: url(../images/icon_sprite.png);
	background-repeat: no-repeat;
	background-position: -117px -270px;
	width: 43px;
	height: 42px;
	display: block;
	margin: 0px auto;
}

.reportsIcon:hover, .reportsIcon:active, .reportsIcon:focus,
	.reportsIcon.active, .active .reportsIcon {
	background-position: -26px -270px;
}

.settingsIcon {
	background-image: url(../images/icon_sprite.png);
	background-repeat: no-repeat;
	background-position: -113px -347px;
	width: 48px;
	height: 48px;
	display: block;
	margin: 0px auto;
}

.settingsIcon:hover, .settingsIcon:active, .settingsIcon:focus,
	.settingsIcon.active, .active .settingsIcon {
	background-position: -22px -347px;
}

.userMngtIcon {
	background-image: url(../images/icon_sprite.png);
	background-repeat: no-repeat;
	background-position: -110px -426px;
	width: 53px;
	height: 52px;
	display: block;
	margin: 0px auto;
}

.userMngtIcon:hover, .userMngtIcon:active, .userMngtIcon:focus,
	.userMngtIcon.active, .active .userMngtIcon {
	background-position: -19px -426px;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus
	{
	border-left: 3px solid #2663d3;
}

.logOutIcon {
	background-image: url(../images/icon_sprite.png);
	background-repeat: no-repeat;
	background-position: -461px -19px;
	width: 23px;
	height: 22px;
	display: inline-block;
	margin: 5px 7px 0;
	float: right;
}

.calendarIcon {
	background: url(../images/icon_sprite.png) no-repeat -424px -77px;
	width: 17px;
	height: 17px;
	display: inline-block;
	float: left;
	margin: 5px 5px;
}

.clockIcon {
	background: url('../images/icon_sprite.png') no-repeat -465px -76px;
	width: 19px;
	height: 19px;
	display: inline-block;
	float: left;
	margin: 3px 5px;
}

.saveIcon {
	background: url('../images/icon_sprite.png');
	background-repeat: no-repeat;
	background-position: -302px -22px;
	width: 17px;
	height: 17px;
	display: inline-block;
	margin: 0px 5px;
}

.saveIcon:hover, .saveIcon:active, .saveIcon:focus, .saveIcon.active {
	background-position: -269px -22px;
}

.editIcon {
	background: url('../images/icon_sprite.png');
	background-repeat: no-repeat;
	background-position: -369px -22px;
	width: 17px;
	height: 17px;
	display: inline-block;
	margin: 0px 5px;
}

.editIcon:hover, .editIcon:active, .editIcon:focus, .editIcon.active {
	background-position: -336px -22px;
}

table thead tr th {
	background: #5c7ab0;
}

table thead tr th:first-child {
	border-radius: 5px 0px 0px 5px;
}

table thead tr th:last-child {
	border-radius: 0px 5px 5px 0px;
}

.table>thead>tr>th {
	color: #ebeafa;
}

table .label {
	padding: 5px 6px;
	border: none;
	text-shadow: none;
	width: 70px;
	display: block;
}

table tr:nth-child(even) {
	background: #f2f1f9;
}

table tr:hover {
	background: #efefef;
}

.table>thead>tr>th, .table>tfoot>tr>th {
	padding: 5px 10px !important
}

.table td, .table>tbody>tr>th, .table>tbody>tr>td, .table>tfoot>tr>td,
	.table>thead>tr>td {
	padding: 7px 5px 5px !important;
}

table tr td label {
	font-size: 13px;
}

table tr td .label-success {
	background: #75d23d;
}

table tr td .label-info {
	background: #003764;
}

table tr td .label-danger {
	background: #e8744c;
}

table tbody tr.disabledRow td a.editRow {
	color: #a4a6a9;
	cursor: not-allowed;
	text-decoration: none;
}

table tbody tr td .fa {
	margin: 0px 5px;
}

table tbody tr td a {
	text-decoration: underline;
}

.agileits-stats {
	margin: 0.5em 0;
}

.top-nav ul.top-menu>li>a {
	background: transparent;
	color: #6b7b8e;
	border: none;
	line-height: 30px;
	font-size: 0.9em;
}

.top-nav ul.top-menu>li>a:hover, .top-nav ul.top-menu>li>a:focus {
	background: none;
	color: #6b7b8e;
}

.top-nav .username span {
	color: #225798;
	font-weight: 600;
	line-height: 30px;
}

header.agileits-box-header.clearfix h3 {
	font-size: 1em;
	color: #1180b9;
	text-align: left;
	text-transform: capitalize;
}

.agileits-box-data {
	background: #eef5fb;
	border-top: 1px solid #cfdfef;
	padding: 5px 5px 0;
}

.agileits-box-data .row {
	margin-bottom: 5px;
}

.agileits-box-data .row:last-child {
	margin-bottom: 0px
}

.agileits-box-data .row:first-child label {
	line-height: 35px;
}

.agileits-box-data label {
	font-size: 10px;
	line-height: 18px;
	color: #4b4b4f;
	text-transform: uppercase;
	float: left;
	line-height: 35px;
}

.agileits-box-data input[type="text"] {
	font-weight: 600;
}

.agileits-box-data .col-md-10 input[type="text"] {
	width: 95.5%;
}

.agileits-box-data input[type="text"] {
	width: 100%;
	font-size: 12px;
	background: #f7fafd;
	border: 1px solid #caced8;
	padding: 5px;
	border-radius: 3px;
	float: right;
}

.dataTables_filter input[type="search"], .dataTables_length select {
	font-size: 12px;
	background: #f7fafd;
	border: 1px solid #caced8;
	padding: 5px;
	border-radius: 3px;
}

.altRow label {
	width: 40%;
	float: left;
}

.altRow input {
	width: 55% !important;
	float: right !important;
}

.agileits-box-data input[type="text"].disableBg {
	background: #e1ebf3;
}

ul.sidebar-menu li a {
	padding: 16px 0 15px 0px;
}

.footer p {
	font-size: 0.7em;
}

.linkText {
	color: #2061d5;
	text-decoration: underline;
}

.linkText:hover {
	text-decoration: none;
}

.topForm label {
	font-size: 12px;
	color: #535366;
	line-height: 14px;
	margin: 0px 10px;
}

.topForm select {
	width: 80%;
	padding: 5px 3px;
	font-size: 13px;
}

.topForm input {
	padding: 1px 3px;
}

.topForm {
	background: #d8dae6;
	padding: 10px;
	border-radius: 3px 3px 0 0;
}

.topForm button, button {
	border: none;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	padding: 7px 20px;
	margin: 0px 2px;
}

.blueBtn {
	background: #2763d5;
}

.grayBtn {
	background: #99a5b5;
}

.surveyQuestContainer {
	padding: 10px;
}

.surveyQuestContainer .row {
	margin: 5px 0px 10px;
}

.surveyQuestContainer h6 {
	margin-bottom: 2px;
}

.surveyQuestContainer input[type="text"] {
	width: 100%;
}

.surveyQuestContainer button {
	border: none;
	color: #fff;
	font-size: 12px;
	border-radius: 3px;
	padding: 7px 20px;
}

.surveyQuestContainer span.linkText {
	position: relative;
	left: 65%;
}

.surveyQuestContainer p {
	border: 2px solid #ccc;
	font-size: 12px;
	line-height: 16px;
	padding: 5px 10px;
}

.surveyFooter {
	margin-top: 20px;
}

.dataTables_scrollBody {
	height: 200px !important;
}

#dashboardTable thead th {
	padding: 0px !important
}

#employeesTable thead th {
	padding: 0px !important
}

#reportsTable thead th {
	padding: 0px !important
}

#board1Table thead th {
	padding: 0px !important
}

#board2Table thead th {
	padding: 0px !important
}

.dataTables_scrollBody>table>thead>tr>th {
	padding: 0px !important
}

.dataTables_wrapper label {
	font-size: 13px;
}

.dataTables_info {
	font-size: 14px;
}

.dataTables_paginate {
	font-size: 14px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
	.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	padding: 0.3em 0.8em;
	background: #5c7ab0 !important;
	color: #fff !important;
}

.dataTables_filter {
	margin-bottom: 5px;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
	border-bottom: 0px solid #111;
}

.formStyle1 .row {
	margin-bottom: 10px !important;
}

.formStyle1 label {
	width: 40%;
}

.formStyle1 input[type="text"] {
	width: 50%;
}

.formStyle1 input[type="file"] {
	width: 50%;
	display: inline-block;
	font-size: 12px;
	background: #fff;
	padding: 4px;
}

.formStyle1 input[type="date"] {
	width: 50%;
	display: inline-block;
	font-size: 12px;
	background: #fff;
}

.reportsFormStyle select {
	width: 50%;
}

.surveyBodyContainer {
	width: 100%;
	max-height: 195px;
	position: relative;
	overflow: auto;
}

.emojiContainer {
	position: relative;
	right: 10%;
	width: 19%;
	float: right;
}

.emojis {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	width: 32px;
	height: 32px;
	display: inline-block;
	float: left;
	margin: 0px 5px;
	box-shadow: 0px 1px 2px 1px #ccc;
	border-radius: 50%;
}

.emoji-smiley {
	background-image: url('../images/emoji-smiley.png');
}

.emoji-neutral {
	background-image: url('../images/emoji-neutral.png');
}

.emoji-unamused {
	background-image: url('../images/emoji-sad.png');
}